<?xml version="1.0" encoding="UTF-8"?>

<!-- 级别从高到低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
<!-- 日志输出规则 根据当前ROOT 级别，日志输出时，级别高于root默认的级别时 会输出 -->
<!-- 以下 每个配置的 filter 是过滤掉输出文件里面，会出现高级别文件，依然出现低级别的日志信息，通过filter 过滤只记录本级别的日志 -->
<!-- scan 当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。 -->
<!-- scanPeriod 设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。 -->
<!-- debug 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" scanPeriod="30 seconds" debug="false">

	<conversionRule conversionWord="myThread" converterClass="com.smk.digSociety.util.MyThreadConvert" />
	<property name="APP_Name" value="digSociety" />

	<!-- 动态日志级别 -->
	<jmxConfigurator />

	<property name="Log_Pattern" value="[%date{ISO8601}][%X{traceid}][%X{merreqip}][%myThread][%30.30logger{10}-%method.%line]-%m%n" />
	<property name="File_Pattern" value="./logs/%d{yyyyMMdd}" />
	<contextName>${APP_Name}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${Log_Pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="root" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/root.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${File_Pattern}/${APP_Name}/root.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>${Log_Pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- addtivity，默认为true，将此loger的打印信息向上级传递； -->
	<!-- 没有设置appender，此loger本身不打印任何信息 -->
	<logger name="com" level="DEBUG" additivity="false">
		<appender-ref ref="root" />
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- trace, debug, info, warn, error -->
	<root level="INFO">
		<appender-ref ref="root" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>